body {
    font-family: 'Quicksand', sans-serif;
}

#main {
    padding: 25px;
}

#URLItems, #lstBrokenURLs {
    list-style: none;
    padding: 0;
    margin: 10px 0 0 0;
}

#URLItems {
    max-height: 200px;
    overflow-x: auto;
}

#URLItems li {
    padding: 3px;
}

#URLItems li:hover {
    background: #EEE;
    transition: background .5s ease-in-out;    
}

#txtURL {
    width: 100%;
}

.delURL {
    margin-right: 25px;
    color: #F00;
    cursor: pointer;
}

#btnScan {
    display: none;
    width: 100%;
    margin-top: 10px;
}

.ulBrokenLinks {
    /* display: none; */
}